input[type="checkbox"]{
    width: 200px;
    height: 200px;
}

button{
    background-color: blue;
    color: #fff;
}

button:hover{
    background-color: #fff;
    color:blue;
}

a, a:visited{
    color: #000;
}

a:active{
    color: red;
}

td{
    border: 1px solid #000;
}

tr:nth-of-type(even){
    background-color: grey;
}

tr td:first-child::before{
    content:">>";
}