#popup-wrap{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}
#popup-wrap.open{
    display: block;
}


#popup{
    background-color: #fff;
    min-height: 300px;
    width: 50%;
    margin-left: 25%;
    margin-top: 10vh;
    padding: 15px;
    border-radius: 10px;
}

#popup h3{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

#popup p{
    line-height: 1.2rem;
    font-size: 1.1rem;
}

.popup-content{
    position: relative;
}
#close-popup{
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: #ccc;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    text-align: center;
    line-height: 29px;
    transform: rotate(45deg);
    border-radius: 100%;
    font-weight: bold;
    cursor: pointer;
}
#close-popup:hover{
    background-color: #848484;
}