footer a{
    padding: 3px 8px;
    border-radius: 5px;
}

footer.light-theme{
    color: #262626;
}
footer.dark-thme{
    color: #fff;
}

footer.light-theme a{
    background-color: #262626;
    color: #fff;
}

footer.dark-theme a{
    color: #262626;
    background-color: #fff;
}